body {
}

form{
	width:500px;
	margin:0 auto;
}


li {float: right;
    display: inline;
}



.button {
	background-color: #f1f1f1;
	font: bold 11px/27px Arial,sans-serif!important;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	padding: 3px 6px 3px 6px;
	margin: 5px;
	display: inline-block;
}






topbar {
	float:right;
	margin: 25px 40px 40px 0;
	height: 100px;
}


#googlelogo {
	margin: 10 0 0 0 auto;
//	margin: auto;
  //  float: center;
	text-align: center;
	padding-top: 100px;
//	width: 35em;
}



#bottombar {
	background-color: #f2f2f2;
	border-top: 2px solid #e4e4e4;
	height: 40px;
	clear: both;
	position: relative;
	margin-top: 215px;
}

#bottombar ul {
	margin-left: 27px;
	margin-top: 5px
}

#bottomleft {
	float:left;
}

#bottomright {
	margin-right: 27px;
}