body {
}

form{
	width:500px;
	margin:0 auto;
}

/*
li {
    display: inline;
    float: right;
}

topbar{
//  display: inline-block;

  line-height: 40px;
    display: inline;
    float: right;
}
*/

#topbar ul li:first-child {
	margin-top: -10px;
}

#topbar {
	margin: 25px 40px 0 0;
	height: 100px;
}

/*

footer {
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  min-width: 100%;
  bottom: 0;
  position: absolute;
  a {
    margin-right: 15px;
  }
  ul{
    padding: 0 0 0 20px;
  }

  .footer-left {
    float: left;
    margin: 0;
  }

  .footer-right {
    float: right;
    margin: 0;
    margin-right: 20px;
  }
}
*/


#bottombar {
	background-color: #f2f2f2;
	border-top: 2px solid #e4e4e4;
	height: 40px;
	clear: both;
	position: relative;
	margin-top: 215px;
}

#bottombar ul {
	margin-left: 27px;
	margin-top: 5px
}

#bottomleft {
	float:left;
}

#bottomright {
	margin-right: 27px;
}