body {
	font-size: small;
	font-family: arial, sans-serif;
}

ul {
	list-style-type: none;
}

li {
	float: right;
	display: block;
	padding: 0 0 0 18px;
}


#searchbar {
	margin: auto;
	padding-top: 15px;
}

.button {
	background-color: #f1f1f1;
	font: bold 11px/27px Arial,sans-serif!important;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	padding: 3px 6px 3px 6px;
	margin: 5px;
	display: inline-block;
}




topbar {
	float:right;
	margin: 25px 0px 40px 0;
	height: 100px;
}


#googlelogo {
	margin: 10 0 0 0 auto;
	text-align: center;
	padding-top: 100px;
}


#container {
	margin: 10 0 0 0 auto;
	text-align: center;
}



#bottombar {
	background-color: #f2f2f2;
	border-top: 2px solid #e4e4e4;
	height: 30px;
	clear: both;
//	position: relative;
	margin-top: 115px;
}

#bottombar ul {
	margin-left: 27px;
	margin-top: 5px
}

#bottomleft {
	float:left;
	margin-top: -20px;
}
}

#bottomright {
	margin-right: 27px;
}